input {
    border: none;
    outline: none;
    line-height: 26px;
    width: 100%;
    text-align: center;
    background: transparent;
}

input:disabled {
    background: transparent;
}

.row-even {
    background-color: #F0FFF0;
}

.row-odd {
    background-color: #F0F8FF !important;
}

.row-passed {
    background-color: LightSalmon !important;
}

.row-default {
    background-color: white !important;
}