<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Sport Events</h3>
    <div class="card-body">
        <div *ngIf="sportEvents$ | async as sportEvents else noData" id="table" class="table-editable">
            <span mdbTooltip="Add new sport event" id="addSportEvent" (click)="addSportEvent()" *ngIf="!isPreviewMode" class="table-add float-right mb-3 mr-2"><a class="text-success"><i class="fas fa-plus fa-2x"
            aria-hidden="true"></i></a></span>
            <button (click)="changeMode()" class="btn btn-success">{{ btnText }}</button>
            <table class="table table-bordered table-responsive-md table-striped text-center">
                <tr>
                    <th *ngIf="!isPreviewMode" class="text-center">EventID</th>
                    <th class="text-center">EventName</th>
                    <th class="text-center">OddsForFirstTeam</th>
                    <th class="text-center">OddsForDraw</th>
                    <th class="text-center">OddsForSecondTeam</th>
                    <th class="text-center">EventStartDate</th>
                </tr>
                <tr *ngFor="let sport of sportEvents; let i = index" [ngClass]="changeRowColor(sport, i)" class="sport-class">
                    <td *ngIf="!isPreviewMode" class="pt-3-half"> {{ sport.eventID }}</td>
                    <td class="pt-3-half">
                        <input [disabled]="isPreviewMode" name="eventName" [(ngModel)]="sport.eventName">
                    </td>
                    <td (click)="oddClick(sport, $event)" class="pt-3-half">
                        <input id="oddsForFirstTeam" type="number" [attr.min]="1" [min]="1" [disabled]="isPreviewMode" name="oddsForFirstTeam" [(ngModel)]="sport.oddsForFirstTeam">
                    </td>
                    <td (click)="oddClick(sport, $event)" class="pt-3-half">
                        <input id="oddsForDraw" type="number" [disabled]="isPreviewMode" [attr.min]="1" [min]="1" name="oddsForDraw" [(ngModel)]="sport.oddsForDraw">
                    </td>
                    <td (click)="oddClick(sport, $event)" class="pt-3-half">
                        <input id="oddsForSecondTeam" type="number" [disabled]="isPreviewMode" [attr.min]="1" [min]="1" name="oddsForSecondTeam" [(ngModel)]="sport.oddsForSecondTeam">
                    </td>
                    <td class="pt-3-half">
                        <input [disabled]="isPreviewMode" name="eventStartDate" [ngModel]="sport.eventStartDate | date:'dd/MM/yyyy hh:mm'" (ngModelChange)="sport.eventStartDate = $event">
                    </td>
                    <td *ngIf=" !isPreviewMode ">
                        <span class="table-remove "><button type="button " class="btn btn-danger btn-rounded btn-sm my-0" (click)="deleteSportEvent(sport)">Delete</button></span>
                    </td>
                    <td *ngIf="!isPreviewMode ">
                        <span class="table-remove "><button type="button " class="btn btn-success btn-rounded btn-sm my-0" (click)="updateSportEvent(sport)">Save</button></span>
                    </td>
                </tr>

            </table>
            <ng-template #noData>No Data Available</ng-template>

        </div>
    </div>
</div>